# History files
.Rhistory
.Rapp.history
# Example code in package build process
*-Ex.R
# RStudio files
.Rproj.user/
*.Rproj
# knitr figures
figure/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# intermediate .tex files and logs
*.tex
*.log
*.aux
*.nav
*.out
*.snm
*.toc
*.vrb
# intermediate markdown files
*.html
*.htm
inst/shinyApps/noric/*.md
inst/shinyApps/noric/cache
# SPSS, word,..
*.sav
*.doc
*.docx
*.pdf
*.bmp
*.tiff
*.zip
# Rdata files
*.Rdata
*.data.R
# Example code in package build process
*-Ex.R
.Rproj.user
check/
.Rprofile
kobling_varnavn.R
utforsk.R
